@media (max-width: 578px)
  .navigation.pagination 
    .nav-links 
      span, a
        font-size: 18px
        height: 40px
        width: 40px
  .page-q
    background-position: -170px 115px
  .page
    padding-top: 85px
  .page h1.title
    margin-bottom: 40px
  .bread
    margin-bottom: 30px
  .page-wrap-item h2
    font-size: 24px
  .page-wrap-item img
    height: 250px
  .page-wrap-item p
    font-size: 18px
  h2.title, .see-wrap-right p, .price-wrap-item h3, .page h1.title
    font-size: 30px
  .garanty, .price .price-text, .price-wrap-item p
    font-size: 20px
  .popup-callback, .popup-prices
    padding: 20px
    h3
      padding-right: 40px
  .popup-callback h3, .popup-prices h3
    font-size: 28px
  .popup-callback p, .popup-prices p
    font-size: 18px
  .popup
    padding-top: 40px
    h3
      margin-bottom: 25px
    p
      margin-bottom: 25px
    .close
      font-size: 40px
      top: -3px
      right: 10px
  .popup-service
    padding: 20px
    padding-top: 40px
    h3
      font-size: 30px
  .find-wrap-item-img img
    height: 300px
  .find-wrap-item-img .find-price
    bottom: 15px
    left: 10px
    padding: 10px 20px
  .find-wrap-item h2
    font-size: 24px
  .find-wrap-item-date 
    p
      font-size: 12px
    a
      font-size: 18px
      padding-right: 15px
      &::after
        top: 8px  
  .find h1.title
    font-size: 24px
  .navigation.pagination
    margin-top: 0
@media (max-width: 380px)
  .offer-wrap h1
    font-size: 34px
  .offer-bg
    min-width: 510px
  .see
    padding-top: 60px
  .feed-wrap-item .moar-text
    width: max-content
    top: 20px
  .feed-wrap-item-right-text
    top: 10px
  .feed-wrap-item
    margin-bottom: 60px
  .feed h2.title a
    font-size: 20px
  .feed
    padding-bottom: 40px
  .question
    background-position: -170px 75px
  .footer-top h3
    font-size: 24px
  .footer-bot
    font-size: 12px
  .page-q
    background-position: -170px 115px
@media (max-width: 360px)
  .offer-wrap h1
    font-size: 28px
  .offer-bg
    min-width: 430px
  .offer-wrap h1
    margin-bottom: 280px
  .works-wrap-item-har div p, .works-wrap-item-har div b
    font-size: 14px
  .feed-wrap-item-left
    width: 140px
  .feed-wrap-item-right
    width: calc(100% - 160px)
  .feed-wrap-item-right-text, .feed-wrap-item .moar-text
    left: -160px
  .feed h2.title a, .works-link
    font-size: 16px